.main-info .success-img {
  width: 70px;
  height: 70px;
  margin: 0 auto; }

.main-info .btn-mycourses a {
  font-family: "Circe-ExtraBold";
  margin: 0 auto;
  display: block;
  border-radius: 7px;
  background-color: #e31d1a;
  color: #ffffff;
  max-width: 250px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 14px; }

.main-info .fsize {
  font-size: 40px; }

.main-info .accent-red {
  color: #e31d1a;
  font-family: "Circe-ExtraBold";
  padding: 15px 0 50px 0; }

@media screen and (max-width: 959px) {
  .main-info .accent-red {
    padding-bottom: 25px; }
  .main-info .fsize {
    font-size: 26px;
    max-width: 620px; }
  .main-info .success-img {
    padding-top: 20px; } }

@media screen and (max-width: 639px) {
  .main-info .fsize {
    max-width: 450px;
    font-size: 26px; }
  .main-info .success-img {
    padding-top: 10px; } }

.main-info .pb {
  padding-bottom: 15px; }

.main-info h2 {
  font-size: 16px;
  color: #9e9e9e;
  padding-bottom: 50px;
  font-family: "Circe-ExtraBold"; }

.product-item.border-red {
  border-width: 3px;
  border-radius: 7px;
  border: 3px solid #e31d1a;
  padding: 15px 15px; }

.product-item .product-item-right.space-around {
  justify-content: space-around;
  padding: 20px 0; }

.product-item .product-item-right .fsize {
  font-size: 34px; }

.product-item .product-item-right strong {
  font-family: "Circe-ExtraBold"; }

.product-item .product-item-left .img.mod1 {
  border-radius: 7px; }

.product-btns .red_col {
  margin-left: 0 !important;
  background-color: #e31d1a !important;
  color: white !important; }

.text-visibility-on {
  display: none; }
  .text-visibility-on p {
    padding: 35px 0; }

@media screen and (max-width: 1170px) {
  .product-item .product-item-right {
    max-height: 380px !important; }
  .product-item .product-item-left .img.mod1 {
    height: 380px; } }

@media screen and (max-width: 959px) {
  .text-visibility-off {
    display: none; }
  .text-visibility-on {
    display: flex; }
  .main-info {
    display: block; }
    .main-info .accent-red {
      padding-bottom: 25px; }
    .main-info .fsize {
      font-size: 26px;
      max-width: 620px; }
    .main-info .success-img {
      padding-top: 20px; }
    .main-info h2 {
      max-width: 480px;
      align-self: center; }
  .product-item.border-red {
    padding-bottom: 0; }
  .product-item .product-item-left .img.mod1 {
    height: 267px; }
  .product-item .product-item-right.space-around {
    margin-bottom: 0;
    padding-top: 0; }
  .course-txt.pos-center {
    top: 40px; } }

@media screen and (max-width: 639px) {
  .main-info .fsize {
    max-width: 450px;
    font-size: 26px; }
  .main-info .success-img {
    padding-top: 10px; }
  .text-visibility-on p {
    padding: 25px;
    margin-bottom: 0px !important; } }

@media screen and (max-width: 500px) {
  .course-txt.pos-center {
    bottom: 70px; }
    .course-txt.pos-center h2 {
      font-size: 24px; }
  .text-visibility-on p {
    padding: 25px 12px 25px 12px !important;
    margin-bottom: 0px !important; }
  .product-item.border-red {
    border: none; } }

.text-wrap .lh {
  line-height: 37.44px; }

.bgimg-container.two-blocks.three-blocks {
  justify-content: space-around; }
  .bgimg-container.two-blocks.three-blocks h2 {
    line-height: 28px; }
  .bgimg-container.two-blocks.three-blocks .lower-block {
    max-width: 360px; }
  .bgimg-container.two-blocks.three-blocks .l-block .bgimg-item {
    height: 237px;
    width: inherit;
    max-width: 360px; }
  .bgimg-container.two-blocks.three-blocks .r-block .bgimg-item {
    height: 237px;
    width: inherit;
    max-width: 360px; }

.text-column-right.imgadded .item-img.size {
  height: 133px; }
  .text-column-right.imgadded .item-img.size .column-right-img_size {
    height: inherit; }

.img-gallery-wrapper {
  max-width: 1180px;
  display: block;
  margin: 0 auto; }
  .img-gallery-wrapper .main-img {
    display: flex;
    justify-content: center; }
    .img-gallery-wrapper .main-img .item {
      background: center center / cover no-repeat;
      width: 100%;
      height: 650px; }
  .img-gallery-wrapper .secondary-img {
    padding-top: 20px;
    display: flex;
    justify-content: space-between; }
    .img-gallery-wrapper .secondary-img .item {
      background: center center / cover no-repeat;
      max-width: 373px;
      width: 100%;
      height: 246px; }

@media screen and (max-width: 1170px) {
  .text-column-right.imgadded .item-img.size {
    height: 113px; }
    .text-column-right.imgadded .item-img.size .column-right-img_size {
      height: inherit; }
  .bgimg-container.two-blocks.three-blocks {
    justify-content: space-around; }
    .bgimg-container.two-blocks.three-blocks h2 {
      line-height: 28px; }
    .bgimg-container.two-blocks.three-blocks .lower-block {
      max-width: 300px;
      height: 180px; }
    .bgimg-container.two-blocks.three-blocks .l-block .bgimg-item {
      height: 237px;
      width: inherit;
      max-width: 300px; }
    .bgimg-container.two-blocks.three-blocks .r-block .bgimg-item {
      height: 237px;
      width: inherit;
      max-width: 300px; }
  .img-gallery-wrapper {
    max-width: 960px; }
    .img-gallery-wrapper .main-img .item {
      width: 100%;
      height: 526px; }
    .img-gallery-wrapper .secondary-img .item {
      max-width: 300px;
      height: 198px; } }

@media screen and (max-width: 959px) {
  .bgimg-container.two-blocks.three-blocks {
    justify-content: space-around; }
    .bgimg-container.two-blocks.three-blocks h2 {
      line-height: 28px; }
    .bgimg-container.two-blocks.three-blocks .lower-block {
      max-width: 300px;
      height: 237px; }
    .bgimg-container.two-blocks.three-blocks .l-block .bgimg-item {
      height: 237px;
      width: 300px;
      max-width: 300px; }
    .bgimg-container.two-blocks.three-blocks .r-block .bgimg-item {
      height: 237px;
      width: 300px;
      max-width: 300px; }
  .img-gallery-wrapper {
    max-width: 600px; }
    .img-gallery-wrapper .main-img .item {
      width: 100%;
      height: 336px; }
    .img-gallery-wrapper .secondary-img .item {
      max-width: 193px;
      height: 127px; } }

@media screen and (max-width: 639px) {
  .bgimg-container.two-blocks.three-blocks .lower-block {
    height: auto;
    max-width: 600px; }
    .bgimg-container.two-blocks.three-blocks .lower-block .btn-learn {
      margin-top: 20px; }
  .bgimg-container.two-blocks.three-blocks .l-block {
    padding-bottom: 40px; }
    .bgimg-container.two-blocks.three-blocks .l-block .bgimg-item {
      max-width: 600px;
      width: 100%; }
  .bgimg-container.two-blocks.three-blocks .r-block {
    padding-bottom: 40px;
    width: 100%; }
    .bgimg-container.two-blocks.three-blocks .r-block .bgimg-item {
      max-width: 600px;
      width: 100%; }
  .img-gallery-wrapper {
    max-width: 600px; }
    .img-gallery-wrapper .main-img .item {
      width: 100%;
      height: 336px; }
    .img-gallery-wrapper .secondary-img .item {
      margin: 0 5px;
      max-width: 193px;
      height: 127px; }
      .img-gallery-wrapper .secondary-img .item:first-child {
        margin-left: 0; }
      .img-gallery-wrapper .secondary-img .item:last-child {
        margin-right: 0; } }

@media screen and (max-width: 500px) {
  .img-gallery-wrapper {
    max-width: 420px; }
    .img-gallery-wrapper .main-img .item {
      max-width: 100%;
      height: 336px; }
    .img-gallery-wrapper .secondary-img {
      flex-direction: column; }
      .img-gallery-wrapper .secondary-img .item {
        margin: 5px 0;
        max-width: 100%;
        height: 336px; }
        .img-gallery-wrapper .secondary-img .item:first-child {
          margin-top: 0; } }

.text-wrap, .img-gallery-wrapper, .note-wrap, .scheme-wrap, .bgimg-wrapper, .business-model-wrapper {
  padding: 0 10px; }

.ac-color {
  color: #e31d1a; }

.sec-color {
  color: #9e9e9e; }

.threed-color {
  color: #626262; }

.sec-bgcol {
  background-color: #fafafa !important; }

.width-center {
  display: block;
  margin: 0 auto;
  position: relative; }

.lg-block {
  max-width: 1170px; }

.sm-block {
  max-width: 460px; }

.icon-size {
  width: 30px;
  height: 30px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.lh {
  line-height: 1.1; }

.fz16 {
  font-size: 16px; }

.fz18 {
  font-size: 18px; }

.fz22 {
  font-size: 22px; }

.fz30 {
  font-size: 30px; }

.fz32 {
  font-size: 32px; }

.pb10 {
  padding-bottom: 10px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb50 {
  padding-bottom: 50px; }

.pb60 {
  padding-bottom: 60px; }

.pb75 {
  padding-bottom: 75px; }

.pb105 {
  padding-bottom: 105px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt50 {
  padding-top: 50px; }

.pt60 {
  padding-top: 60px; }

.pt75 {
  padding-top: 75px; }

.pt90 {
  padding-top: 90px; }

.pt105 {
  padding-top: 105px; }

.ceb {
  font-family: "Circe-ExtraBold"; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.mb75 {
  margin-bottom: 75px; }

.mb90 {
  margin-bottom: 90px; }

.mb105 {
  margin-bottom: 105px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.mt75 {
  margin-top: 75px; }

.mt90 {
  margin-top: 90px; }

.mt105 {
  margin-top: 105px; }

.mr {
  margin-right: 20px; }

.ml {
  margin-left: 20px; }

.main-info p.fz16 {
  font-size: 16px; }

.wrap_flex {
  display: flex; }

.icon-size.position {
  padding: 0 25px;
  position: relative; }
  .icon-size.position:first-child {
    top: 5px; }
  .icon-size.position.top {
    top: -6px; }

.btn-begin {
  display: flex;
  justify-content: center; }
  .btn-begin a {
    font-family: "Circe-ExtraBold";
    border-radius: 7px;
    background-color: #e31d1a;
    color: #ffffff;
    width: 45%;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 14px; }

.note {
  padding: 60px;
  display: flex;
  line-height: 30px; }
  .note p {
    font-family: "CRC55";
    font-size: 18px;
    line-height: 30px; }
  .note strong {
    font-family: "Circe-ExtraBold"; }

.note-wrap {
  max-width: 1080px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
  border-radius: 7px; }
  .note-wrap.modified {
    background-color: inherit;
    border: 4px solid #626262; }
    .note-wrap.modified .note {
      flex-direction: column; }
    .note-wrap.modified.color-red {
      border-color: #e31d1a; }
  .note-wrap.img-plus {
    max-width: 1200px; }
    .note-wrap.img-plus .note {
      max-width: 960px;
      margin: 0 auto;
      padding: 30px 60px; }
    .note-wrap.img-plus .bgimg-container {
      padding-left: 80px; }
    .note-wrap.img-plus .r-block {
      padding-left: 70px;
      align-self: center; }

.text-wrap {
  max-width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.scheme-wrap {
  max-width: 780px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .scheme-wrap p {
    font-family: "Playfair-Bold-Italic";
    font-size: 14px;
    text-align: center; }

.scheme img {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }

.h2accent {
  font-family: "Circe-ExtraBold";
  color: #555555;
  font-size: 30px; }

.h3accent {
  font-family: "Circe-ExtraBold";
  font-size: 22px; }

.wrap-large {
  max-width: 1200px; }

.text-column {
  display: flex; }

.text-column-left {
  max-width: 760px;
  padding-left: 120px; }
  .text-column-left p {
    padding: 15px 0; }
    .text-column-left p:first-child {
      padding-top: 0; }
    .text-column-left p:last-child {
      padding-bottom: 0; }

.text-column-right {
  font-family: "CRC55";
  max-width: 256.41px;
  font-size: 15px;
  opacity: 0.7; }
  .text-column-right strong {
    opacity: 1;
    font-weight: 500;
    font-family: "Circe-ExtraBold";
    font-size: 15px; }
  .text-column-right p {
    font-family: "CRC55" !important;
    font-size: 15px;
    font-family: '5';
    font-weight: 500; }
  .text-column-right.imgadded {
    opacity: 1; }
    .text-column-right.imgadded strong {
      display: block; }
    .text-column-right.imgadded p {
      font-size: 14px;
      line-height: 16px; }
    .text-column-right.imgadded .column-right-img_size {
      max-width: 260px;
      height: 162px; }
    .text-column-right.imgadded .item-img {
      background-color: black;
      max-width: 260px;
      height: 162px; }
    .text-column-right.imgadded .underscoring_url {
      line-height: 16px; }

.icon_correct {
  width: 30px;
  position: relative;
  bottom: 3px; }

.examples {
  display: flex;
  flex-direction: column;
  font-size: 18px; }
  .examples img {
    padding-right: 40px;
    float: left; }
  .examples p {
    display: inline; }
  .examples li {
    padding: 10px 0px; }
    .examples li:first-child {
      padding-top: 0; }

.alert-block {
  background-color: #e31d1a; }
  .alert-block .text-wrap {
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    display: flex;
    color: white;
    height: auto !important; }
    .alert-block .text-wrap.mh {
      height: inherit; }
  .alert-block p:first-child {
    font-family: "Circe-ExtraBold";
    font-size: 24px;
    line-height: 40px; }
  .alert-block p:last-child {
    font-size: 24px;
    font-weight: 400;
    font-family: "CRC35"; }
    .alert-block p:last-child.ext-bold {
      font-family: "Circe-ExtraBold"; }

.example-wrapper {
  display: block;
  margin: 0 auto; }

.example-item {
  width: 30%;
  height: 64px;
  background-color: #e31d1a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 7px 0 0 7px;
  color: white;
  font-size: 15px;
  font-family: 'Circe-ExtraBold';
  float: right; }
  .example-item img {
    width: 30px;
    padding: 0 10px; }

.bgimg-container {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between; }
  .bgimg-container .btn-learn {
    max-width: 149px;
    text-decoration: none;
    color: #e31d1a;
    border: 2px solid #e31d1a;
    background-color: #ffffff;
    line-height: 50px;
    border-radius: 7px;
    text-align: center;
    font-size: 16px; }
  .bgimg-container .bgimg-item {
    width: 360px;
    height: 360px;
    margin-bottom: 20px;
    background: center center / cover no-repeat; }
  .bgimg-container .lower-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px; }
    .bgimg-container .lower-block .fg {
      flex-grow: 2; }
  .bgimg-container .l-block .bgimg-item {
    width: 560px; }
  .bgimg-container .r-block .bgimg-item {
    width: 560px; }

.underscoring_url {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #e31d1a;
  display: inline-block;
  line-height: 20px; }

.ext-bold {
  font-family: "Circe-ExtraBold"; }

.business-model-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: block; }

.business-model {
  display: flex;
  justify-content: space-between; }
  .business-model .item-block {
    width: 240px; }
  .business-model i {
    display: block;
    font-family: "Playfair-Bold-Italic";
    font-size: 16px; }
  .business-model hr {
    border: 0;
    height: 3px;
    background-color: black;
    margin: 15px 0; }
  .business-model p {
    font-size: 20px;
    line-height: 1.17; }
  .business-model.decorations-1 p {
    font-size: 22px; }
    .business-model.decorations-1 p:not(.buiseness-model_fz):first-letter {
      color: #e31d1a; }
  .business-model.decorations-1 .buiseness-model_fz {
    font-size: 18px; }

.text-column-left_maw {
  max-width: 660px; }

.text-column-right_maw {
  max-width: 358px; }

.circle {
  position: relative;
  box-sizing: border-box;
  bottom: 4px;
  display: inline-block;
  color: #ffffff;
  width: 28px;
  height: 28px;
  border: 4px solid #8f8f8f;
  border-radius: 50%;
  margin-right: 40px; }

.text-column-wrap {
  display: flex; }

.left-block.center-mod {
  align-self: center;
  padding-right: 40px; }

.right-block.center-mod p {
  font-size: 18px !important; }

.left-block p, .right-block p {
  font-size: 18px;
  line-height: 24.3px; }
  .left-block p:first-child, .right-block p:first-child {
    font-size: 20px; }

.circle-bg {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background: center center / cover no-repeat; }

@media screen and (max-width: 1170px) {
  .note-wrap {
    max-width: 860px; }
    .note-wrap .note {
      padding: 40px; }
    .note-wrap.img-plus {
      max-width: 980px; }
      .note-wrap.img-plus .note {
        max-width: 780px; }
  .text-wrap {
    max-width: 780px; }
    .text-wrap.wrap-large .column-right-img_size {
      max-width: 220px;
      height: inherit; }
    .text-wrap.wrap-large .item-img {
      height: 140px; }
  .alert-block .text-wrap {
    height: 281px; }
  .scheme-wrap {
    max-width: 780px; }
    .scheme-wrap .scheme img {
      max-width: 780px; }
  .text-column-left {
    max-width: 620px; }
    .text-column-left.mr {
      margin-right: 20px; }
    .text-column-left.text-column-left_maw {
      max-width: 510px; }
  .text-column-right {
    max-width: 230px;
    font-size: 14px; }
    .text-column-right p, .text-column-right strong {
      font-size: 14px; }
    .text-column-right.text-column-right_maw {
      max-width: 300px; }
  .wrap-large {
    max-width: 920px; }
    .wrap-large .text-column {
      margin-left: 70px; }
      .wrap-large .text-column .text-column-left {
        padding-left: 0; }
  .bgimg-container {
    max-width: 980px;
    justify-content: space-around; }
    .bgimg-container.two-blocks .bgimg-item {
      margin: 0 0 20px 0; }
    .bgimg-container .l-block .bgimg-item, .bgimg-container .r-block .bgimg-item {
      max-width: 460px; }
    .bgimg-container .bgimg-item {
      max-width: 300px;
      height: 320px;
      margin: 0 10px; }
  .business-model-wrapper {
    max-width: 920px; }
    .business-model-wrapper .item-block {
      max-width: 200px; } }

@media screen and (max-width: 959px) {
  .note-wrap {
    max-width: 680px; }
    .note-wrap .note {
      padding: 40px; }
    .note-wrap.img-plus {
      max-width: 637px; }
      .note-wrap.img-plus .r-block {
        padding-left: 20px; }
      .note-wrap.img-plus .l-block {
        align-self: center; }
      .note-wrap.img-plus .note {
        padding: 30px 20px;
        height: 154px; }
  .text-wrap {
    max-width: 600px; }
    .text-wrap.wrap-large .column-right-img_size {
      max-width: 220px;
      height: inherit; }
    .text-wrap.wrap-large .item-img {
      height: 140px; }
    .text-wrap .text-column {
      flex-direction: column; }
  .alert-block .text-wrap {
    height: 361px; }
  .scheme-wrap {
    max-width: 780px; }
    .scheme-wrap .scheme img {
      max-width: 780px; }
  .text-column-left {
    max-width: 620px; }
    .text-column-left.mr {
      margin-right: 0px; }
    .text-column-left.text-column-left_maw {
      max-width: 600px; }
  .text-column-right {
    max-width: 100%;
    font-size: 14px;
    padding-top: 25px; }
    .text-column-right.imgadded .item-img {
      max-width: 220px; }
    .text-column-right p, .text-column-right strong {
      font-size: 14px; }
    .text-column-right.text-column-right_maw {
      max-width: 600px; }
  .ml {
    margin-left: 0; }
  .wrap-large {
    max-width: 600px; }
    .wrap-large .text-column {
      margin-left: 0px; }
      .wrap-large .text-column .text-column-left {
        padding-left: 0; }
  .bgimg-container {
    max-width: 980px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
    .bgimg-container.two-blocks {
      max-width: inherit; }
      .bgimg-container.two-blocks .bgimg-item {
        margin: 0 20px 20px 0;
        height: 198px; }
      .bgimg-container.two-blocks .l-block, .bgimg-container.two-blocks .r-block {
        display: flex;
        padding-bottom: 20px; }
        .bgimg-container.two-blocks .l-block .bgimg-item, .bgimg-container.two-blocks .r-block .bgimg-item {
          max-width: 300px; }
      .bgimg-container.two-blocks .lower-block {
        height: 198px; }
    .bgimg-container .l-block .bgimg-item, .bgimg-container .r-block .bgimg-item {
      max-width: 460px; }
    .bgimg-container .bgimg-item {
      max-width: 300px;
      height: 320px;
      margin: 0 0 20px 0; }
  .business-model {
    flex-direction: column; }
    .business-model .item-block {
      max-width: 600px;
      width: inherit;
      padding-bottom: 30px; }
      .business-model .item-block hr {
        width: 100%; }
  .business-model-wrapper {
    max-width: 600px; } }

@media screen and (max-width: 639px) {
  .example-item {
    width: 200px; }
  .note-wrap .note {
    padding: 10px; }
    .note-wrap .note p {
      font-size: 16px;
      line-height: 24.8px; }
  .note-wrap.img-plus {
    max-width: 478px; }
  .right-block p {
    font-size: 14px; }
    .right-block p:first-child {
      font-size: 16px; }
  .bgimg-container {
    max-width: 980px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
    .bgimg-container.two-blocks {
      max-width: 600px; }
      .bgimg-container.two-blocks .bgimg-item {
        margin: 0 0 20px 0;
        height: 198px; }
      .bgimg-container.two-blocks .l-block, .bgimg-container.two-blocks .r-block {
        display: block;
        padding-bottom: 20px; }
        .bgimg-container.two-blocks .l-block .bgimg-item, .bgimg-container.two-blocks .r-block .bgimg-item {
          max-width: 600px;
          width: 100%; }
      .bgimg-container.two-blocks .lower-block {
        align-items: center;
        height: 130px; }
        .bgimg-container.two-blocks .lower-block .btn-learn {
          max-width: inherit;
          width: 100%; }
    .bgimg-container .l-block .bgimg-item, .bgimg-container .r-block .bgimg-item {
      max-width: 460px; }
    .bgimg-container .bgimg-item {
      max-width: 300px;
      height: 320px;
      margin: 0 0 20px 0; } }

@media screen and (max-width: 500px) {
  .note-wrap.img-plus {
    max-width: 320px;
    height: 354px; }
    .note-wrap.img-plus .note {
      flex-direction: column; }
      .note-wrap.img-plus .note .r-block {
        padding-left: 0;
        padding-top: 15px; }
  .lh {
    line-height: 26.4px; }
  .icon-size.position {
    padding: 0 25px 0 0; }
    .icon-size.position:first-child {
      top: 0;
      width: 20px;
      height: 20px; }
  .bgimg-container.two-blocks h2 {
    font-size: 18px; } }

.color-green {
  color: #148e63; }

.business-model.two-colums .item-block {
  width: 100%;
  max-width: 100%; }
  .business-model.two-colums .item-block:last-child {
    padding-left: 60px; }

.text-column-wrap .right-block ul {
  font-size: 18px; }

.circle-red {
  position: relative;
  color: #e31d1a;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-sizing: border-box;
  display: flex;
  width: 44px;
  height: 44px;
  border: 2px solid #e31d1a;
  border-radius: 50%;
  margin-right: 25px; }

.table-wrapper {
  margin: 0 auto;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  border-radius: 7px; }
  .table-wrapper .table-header {
    display: flex;
    max-width: 1160px;
    width: 100%;
    background-color: #e31d1a;
    border-radius: 7px 7px 0 0;
    color: white;
    font-weight: 600;
    font-size: 23px;
    line-height: 32.4px;
    font-family: "CRC35"; }
    .table-wrapper .table-header .column-first {
      max-width: 220px;
      width: 100%; }
    .table-wrapper .table-header .column-second {
      padding: 22px 20px;
      max-width: 470px;
      width: 100%; }
    .table-wrapper .table-header .column-threed {
      max-width: 470px;
      padding: 22px;
      width: 100%; }
  .table-wrapper .table-row {
    max-width: 1160px;
    display: flex;
    border-bottom: 1px solid #e31d1a; }
    .table-wrapper .table-row p {
      font-family: "CRC55";
      font-size: 16px;
      line-height: 1.35; }
    .table-wrapper .table-row .column-first {
      line-height: 1.35;
      border-color: #e31d1a;
      display: flex;
      align-items: center;
      border-right: 1px;
      box-sizing: border-box;
      font-family: "Circe-ExtraBold";
      font-size: 16px;
      padding: 22px 20px;
      max-width: 220px;
      width: 100%; }
    .table-wrapper .table-row .column-second {
      border-left: 1px solid #e31d1a;
      border-right: 1px solid #e31d1a;
      display: flex;
      align-items: center;
      padding: 22px 20px;
      max-width: 470px;
      width: 100%; }
    .table-wrapper .table-row .column-threed {
      display: flex;
      align-items: center;
      max-width: 470px;
      padding: 22px;
      width: 100%; }

.bgimg-container.three-colums {
  flex-direction: row; }
  .bgimg-container.three-colums .bgimg-item {
    max-height: 100%;
    height: 259px; }

.table {
  padding: 0 10px;
  max-width: 1160px;
  margin: 0 auto;
  display: block; }

div.juxtapose {
  max-width: 1170px !important;
  width: 100% !important; }

@media screen and (max-width: 1170px) {
  div.juxtapose {
    width: 970px !important; }
  .bgimg-container.three-colums {
    flex-direction: row; }
    .bgimg-container.three-colums .bgimg-item {
      margin: 0 5px;
      max-height: 100%;
      height: 207px; }
  .table {
    max-width: 880px;
    margin: 0 auto;
    display: block; }
  .table-wrapper .table-row p {
    font-size: 14px; }
  .table-wrapper .table-row .column-first {
    font-size: 14px; } }

@media screen and (max-width: 959px) {
  div.juxtapose {
    max-width: 700px !important;
    width: 100% !important; }
  .business-model.two-colums .item-block:last-child {
    padding: 0px; }
  .bgimg-wrapper {
    max-width: 600px;
    margin: 0 auto; }
  .bgimg-container.three-colums {
    flex-direction: row; }
    .bgimg-container.three-colums .bgimg-item {
      margin: 0 5px;
      max-width: 250px;
      max-height: 100%;
      height: 130px; }
  .table {
    max-width: 600px; }
  .table-wrapper {
    overflow-x: scroll;
    border-radius: 0px; }
    .table-wrapper .table-row {
      width: 1160px;
      max-width: inherit; }
    .table-wrapper .table-header {
      border-radius: 0px;
      width: 1160px;
      max-width: inherit; } }

@media screen and (max-width: 639px) {
  .table-wrapper .table-row p {
    font-size: 12px; }
  .table-wrapper .table-row .column-first {
    font-size: 12px; } }

@font-face {
  font-family: 'Circe-ExtraBold';
  src: url("../fonts/Circe-ExtraBold.eot");
  src: url("../fonts/Circe-ExtraBold.eot?iefix") format("eot"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype"), url("../fonts/Circe-ExtraBold.svg#webfont") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'CRC55';
  src: url("https://static.tildacdn.com/tild3139-3332-4562-b038-326631303230/CRC55.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'Circe-Bold';
  src: url("../fonts/Circe - Bold/Circe-Bold.ttf"); }

@font-face {
  font-family: 'Circe-ExtraLight';
  src: url("../fonts/Circe - Extra Light/Circe-ExtraLight.ttf"); }

@font-face {
  font-family: 'Circe-Regular';
  src: url("../fonts/Circe - Regular/Circe-Regular.ttf"); }

@font-face {
  font-family: 'Circe-Light';
  src: url("../fonts/Circe - Light/Circe-Light.ttf"); }

@font-face {
  font-family: 'Circe-Thin';
  src: url("../fonts/Circe - Thin/Circe-Thin.ttf"); }

@font-face {
  font-family: 'crc35';
  src: url("https://static.tildacdn.com/tild6537-3963-4237-b738-353362616337/CRC35.woff") format("woff");
  font-weight: 500;
  font-style: medium; }

@font-face {
  font-family: 'Playfair-Bold-Italic';
  src: url("../fonts/playfairdisplaybolditalic_allfontru.woff") format("woff");
  font-weight: 300; }

* {
  margin: 0;
  padding: 0;
  font-family: 'CRC55';
  line-height: 1.55; }

h1 {
  line-height: 1.17;
  font-size: 42px;
  font-family: "Circe-ExtraBold"; }

p {
  font-size: 18px; }

li {
  list-style-type: none; }

.navigation_wrapper {
  position: relative;
  margin: 25px auto 35px auto;
  height: 40px;
  max-width: 1200px;
  display: flex; }

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 88%; }
  .nav-menu .nav-menu_item {
    line-height: 1.55;
    padding: 0 15px; }
    .nav-menu .nav-menu_item a {
      font-family: "Circe-ExtraBold";
      text-transform: uppercase;
      font-size: 12px;
      text-decoration: none;
      color: #b0b0b0;
      font-weight: 700; }
    .nav-menu .nav-menu_item:first-child {
      margin-right: auto;
      padding-right: 0px; }
    .nav-menu .nav-menu_item:last-child {
      float: right; }
    .nav-menu .nav-menu_item:nth-child(2) a {
      color: #e31d1a; }

.img-wrap {
  display: flex; }
  .img-wrap img {
    width: 38px;
    height: 38px;
    padding-left: 10px; }
  .img-wrap a:first-child img {
    padding-left: 0; }

.main-bgimg {
  margin: 0 auto;
  display: block;
  height: 188px;
  background: url("../img/header.jpg");
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  background-size: 100%;
  background-repeat: no-repeat;
  border-style: solid;
  opacity: .55;
  background-color: #ffffff; }

.logo-textimg {
  position: absolute;
  top: -190px;
  z-index: 2; }
  .logo-textimg img {
    width: 240px; }

.login-form {
  display: flex;
  height: 40px;
  z-index: 2;
  position: absolute;
  top: -200px;
  right: 1%; }
  .login-form .user_img {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    z-index: 3;
    background-image: url("https://static.tildacdn.com/tild3463-6565-4239-a230-393064393737/05e5dfCqjOk.jpg");
    background-size: cover;
    background-position: center center; }
  .login-form .logout_img {
    margin-left: 10px;
    align-self: center;
    width: 20px;
    height: 20px;
    left: 50px; }

#main-info-section {
  margin-bottom: 75px; }

.main-info {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .main-info span {
    font-family: "Playfair-Bold-Italic";
    font-size: 22px;
    color: #e31d1a;
    padding-bottom: 25px;
    line-height: 1.55; }
  .main-info h1 {
    text-transform: uppercase;
    font-family: "Circe-ExtraBold";
    font-size: 42px;
    padding-bottom: 50px; }
  .main-info p {
    font-family: "CRC55";
    line-height: 1.55;
    font-size: 18px;
    line-height: 1.55; }

#product-info-section {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 10px; }

.product-item {
  margin-bottom: 75px;
  display: flex; }
  .product-item .product-item-left {
    width: 50%;
    margin-right: 20px;
    position: relative;
    border-radius: 7px; }
    .product-item .product-item-left .img {
      max-width: 580px;
      height: 354px;
      max-height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
  .product-item .product-item-right {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 354px;
    width: 50%;
    margin-left: 20px; }
    .product-item .product-item-right span {
      font-family: "Circe-ExtraBold";
      font-size: 18px;
      color: #e31d1a;
      line-height: 1.55; }
    .product-item .product-item-right h2 {
      font-size: 40px;
      font-family: "Circe-ExtraBold"; }
    .product-item .product-item-right p {
      font-family: "CRC55";
      font-size: 16px;
      font-weight: 500;
      line-height: 1.55; }
    .product-item .product-item-right .sell-txt p {
      font-family: "Circe-ExtraBold";
      padding: 0;
      font-size: 18px; }

.product-btns {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  font-family: "Circe-ExtraBold"; }
  .product-btns p {
    display: none; }
  .product-btns a {
    font-family: "Circe-ExtraBold";
    border-radius: 7px;
    background-color: #e31d1a;
    color: #ffffff;
    width: 45%;
    line-height: 50px;
    text-decoration: none;
    text-align: center; }
  .product-btns a:last-child {
    background-color: #c7c7c7;
    color: black;
    margin-left: 3.5%; }

.sell-txt span {
  color: #e31d1a; }

.navigation_wrapper {
  max-width: 1170px; }

.course-txt {
  display: none; }

footer {
  max-width: 100vw;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 50px 0px; }

.column-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .column-wrapper .about-project a, .column-wrapper .eat a {
    border-bottom: 2px solid #e31d1a; }
  .column-wrapper .subscribe a:last-child {
    font-family: "Circe-ExtraBold" !important;
    border-bottom: 2px solid #e31d1a; }
  .column-wrapper .subscribe strong {
    border-bottom: 2px solid #e31d1a; }
  .column-wrapper .column {
    display: block;
    max-width: 25%; }
    .column-wrapper .column .made-by {
      line-height: 1.9;
      font-size: 12px;
      font-family: "CRC55";
      font-weight: 500; }
      .column-wrapper .column .made-by span:first-child {
        border-bottom: 2px solid #e31d1a; }
      .column-wrapper .column .made-by span:last-child {
        border-bottom: 2px solid #e31d1a; }
      .column-wrapper .column .made-by a {
        line-height: 0.2; }
    .column-wrapper .column ul {
      list-style-type: none; }
    .column-wrapper .column strong {
      color: #525252;
      font-family: "Circe-Bold";
      letter-spacing: 1px;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 16px; }
    .column-wrapper .column a {
      display: inline-block;
      text-decoration: none;
      line-height: 1.2;
      font-family: "CRC55";
      font-size: 14px;
      color: black;
      font-weight: 500; }
    .column-wrapper .column .icons {
      display: flex;
      padding: 15px 0; }
      .column-wrapper .column .icons img {
        max-width: 25px;
        padding-right: 5px; }
    .column-wrapper .column img {
      max-width: 200px; }

/* Media Quaries < 959,639,500 , main 1170px  */
@media screen and (max-width: 1170px) {
  .column-wrapper {
    max-width: 980px; }
    .column-wrapper .column strong {
      font-size: 14px !important; }
    .column-wrapper .column a {
      font-size: 12px; }
  #main-info-section {
    margin-bottom: 50px; }
  #product-info-section {
    box-sizing: border-box;
    padding: 0px;
    max-width: 980px; }
  .product-item {
    max-width: 980px; }
    .product-item .product-item-left .img {
      height: 300px;
      max-width: 472px; }
    .product-item .product-item-right h2 {
      font-size: 36px; }
    .product-item .product-item-right p {
      font-size: 15px; }
  .navigation_wrapper {
    max-width: 980px; }
  .main-info {
    max-width: 980px; }
  .sell-txt {
    position: absolute;
    right: 0px;
    top: 0px; } }

@media screen and (max-width: 959px) {
  .column-wrapper {
    max-width: 620px;
    flex-wrap: wrap; }
    .column-wrapper .column {
      flex-basis: 250px;
      max-width: none;
      padding-bottom: 25px; }
  .course-txt {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 30px; }
    .course-txt span {
      color: #e31d1a;
      font-size: 18px;
      font-family: "Circe-ExtraBold";
      line-height: 1.55;
      position: relative;
      bottom: 10px; }
    .course-txt h2 {
      color: white;
      font-size: 32px;
      font-family: "Circe-ExtraBold"; }
  .sell-txt {
    display: none; }
    .sell-txt p {
      display: none; }
    .sell-txt span {
      color: #e31d1a; }
  .product-btns {
    justify-content: flex-start; }
    .product-btns p {
      display: inline-block;
      align-self: center;
      margin-right: auto;
      font-family: "Circe-ExtraBold" !important;
      font-size: 20px !important; }
    .product-btns span {
      color: #e31d1a; }
    .product-btns a {
      max-width: 190px;
      width: 29%; }
      .product-btns a:last-child {
        max-width: 180px; }
  .product-item {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    margin: 25px auto;
    align-items: center; }
    .product-item .product-item-left {
      width: 100%;
      margin-right: 0;
      background-color: black; }
      .product-item .product-item-left .img {
        opacity: 0.3;
        margin: 0 auto;
        max-width: 620px;
        height: 169px; }
    .product-item .product-item-right {
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 590px;
      margin-left: 0;
      margin-bottom: 25px; }
      .product-item .product-item-right > p {
        padding: 35px 0; }
      .product-item .product-item-right span:first-child {
        display: none; }
      .product-item .product-item-right span:only-child {
        display: inline-block; }
      .product-item .product-item-right h2 {
        display: none; }
  .main-info {
    max-width: 590px; }
    .main-info span {
      padding-bottom: 30px; }
    .main-info h1 {
      padding-bottom: 30px; }
    .main-info p {
      font-size: 16px;
      font-family: "CRC55";
      color: black;
      font-weight: 500; }
  .navigation_wrapper {
    margin-top: 15px;
    margin-bottom: 10px;
    max-width: 640px; }
  .login-form {
    right: 5%; }
  .img-wrap {
    display: block;
    flex-direction: column;
    width: 35px;
    max-width: 640px;
    top: -130px;
    right: 7%;
    position: absolute;
    z-index: 2; }
    .img-wrap img {
      position: relative;
      display: block !important;
      width: 35px;
      height: 35px; }
    .img-wrap a img {
      padding-left: 0; }
    .img-wrap a {
      display: block; }
  .nav-menu {
    width: 100%; }
    .nav-menu .nav-menu_item {
      padding: 5px; }
      .nav-menu .nav-menu_item:first-child {
        margin-right: 0; } }

@media screen and (max-width: 639px) {
  .column-wrapper {
    max-width: 450px; }
  .course-txt {
    bottom: 30px; }
    .course-txt h2 {
      font-size: 30px; }
    .course-txt span {
      font-size: 16px; }
  .product-item .product-item-right > p {
    padding: 25px 0 10px 25px; }
  .product-btns {
    flex-direction: column; }
    .product-btns a {
      align-self: center;
      width: 90%;
      max-width: 100%;
      margin: 10px 0px; }
    .product-btns a:last-child {
      width: 90%;
      max-width: 100%;
      margin: 0; }
    .product-btns p {
      padding-left: 25px; }
  .product-item-right p {
    margin-bottom: 10px; }
  #product-info-section {
    max-width: 450px;
    padding: 0; }
  .navigation_wrapper {
    display: block;
    margin-bottom: 15px; }
  .main-info {
    max-width: 450px; }
    .main-info span {
      padding-bottom: 30px; }
    .main-info h1 {
      font-size: 32px;
      padding-bottom: 30px; }
    .main-info p {
      font-size: 15px; }
  .login-form {
    top: -180px; }
  .logo-textimg {
    top: -185px; }
    .logo-textimg img {
      width: 180px; }
  .navigation_wrapper {
    max-width: 500px; }
  .nav-menu {
    height: 40px;
    margin-top: -20px; }
    .nav-menu .nav-menu_item a {
      font-size: 9px; }
  .img-wrap {
    display: flex;
    flex-direction: column;
    max-width: 490px !important;
    top: -130px;
    right: 7%; }
    .img-wrap img {
      width: 30px;
      height: 30px;
      display: inline-block; } }

@media screen and (max-width: 500px) {
  #product-info-section {
    max-width: 300px; }
  .column {
    align-items: center; }
    .column .icons {
      padding: 5px 0; }
  .column-wrapper {
    max-width: 95%;
    justify-content: flex-start; }
  .product-item .product-item-left {
    width: 322px; }
    .product-item .product-item-left .img {
      height: 270px; }
  .product-item .product-item-right {
    min-width: 322px; }
    .product-item .product-item-right p {
      padding-left: 12px; }
  .course-txt {
    left: 10px;
    bottom: 65px; }
  .main-info {
    max-width: 300px; }
    .main-info span {
      padding-bottom: 30px;
      font-size: 18px; }
    .main-info h1 {
      font-size: 24px;
      padding-bottom: 30px; }
    .main-info p {
      font-size: 15px; }
  .logo-textimg {
    top: -180px;
    left: 14px; }
    .logo-textimg img {
      width: 180px; }
  .nav-menu {
    height: 40px;
    margin-top: -20px; }
  .nav-menu .nav-menu_item {
    padding: 5px 0px; }
    .nav-menu .nav-menu_item a {
      font-size: 8px; } }
