.color-green {
	color:$color-table
}
.business-model {
	&.two-colums{
		.item-block {
			width: 100%;
			max-width:100% ;
			&:last-child {
				padding-left: 60px;
			}
		}
	}
}
.text-column-wrap{
	.right-block {
		ul {
			font-size: 18px;
		}
	}
}
.circle-red{
	position: relative;
	color:$color-accent;
	justify-content:center;
	align-items:center;
	font-size: 24px;
	box-sizing: border-box;
	display: flex;
	width: 44px;
	height: 44px;
	border: 2px solid $color-accent;
	border-radius: 50%;
	margin-right: 25px;
}
.table-wrapper {
	margin: 0 auto;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.30);
	border-radius: 7px;
	.table-header {
		display: flex;
		max-width: 1160px;
		width:100%;
		background-color: #e31d1a;
		border-radius:7px 7px 0 0;
		color:white;
		font-weight: 600;
		font-size: 23px;
		line-height: 32.4px;
		font-family: $font-family-5;
		.column-first{
			max-width: 220px;
			width:100%;
		}
		.column-second {
			padding:22px 20px;
			max-width: 470px;
			width:100%;
		}
		.column-threed {
			max-width: 470px;
			padding:22px;
			width:100%;
		}
	}

	.table-row {
		max-width: 1160px;
		display:flex;
		border-bottom:1px solid $color-accent;
		p {
			font-family: $font-family-1;
			font-size: 16px;
			line-height: 1.35;
		}
		.column-first{
			line-height: 1.35;
			border-color:$color-accent;
			display:flex;
			align-items:center;
			border-right:1px;
			box-sizing: border-box;
			font-family: $font-family-4;
			font-size: 16px;
			padding:22px 20px;
			max-width: 220px;
			width:100%;
		}
		.column-second {
			border-left:1px solid $color-accent;
			border-right:1px solid $color-accent;
			display:flex;
			align-items:center;
			padding:22px 20px;
			max-width: 470px;
			width:100%;
		}
		.column-threed {
			display:flex;
			align-items:center;
			max-width: 470px;
			padding:22px;
			width:100%;
		}
	}
}

.bgimg-container {
	&.three-colums {
		flex-direction:row;
		.bgimg-item {
			max-height:100%;
			height:259px;
		}
	}
}

.table {
	padding: 0 10px;
	max-width: 1160px;
	margin:0 auto;
	display: block;
}

div.juxtapose {
	max-width:1170px !important;
	width:100% !important;
}
.sm-visible {
	display:none;
}
	// .juctapose-wrapper {
	// 	max-width: 1170px;
	// 	margin:0 auto;
	// }
// MEDIQ QUERIES =========*** Wige-wige-wige ***============= //
@media screen and (max-width: 1170px) {
div.juxtapose {
	width:970px !important;
}
	.bgimg-container {
		&.three-colums {
			flex-direction:row;
			.bgimg-item {
				margin: 0 5px;
				max-height:100%;
				height:207px;
			}
		}
	}
	.table {
		max-width: 880px;
		margin:0 auto;
		display: block;
	}

	.table-wrapper .table-row p{
		font-size: 14px;
	}
	.table-wrapper .table-row .column-first {
		font-size: 14px;
	}
}
@media screen and (max-width: 1170px) {

}
@media screen and (max-width: 959px) { // 620px mxw
	.sm-visible {
	display:block;
}
.juxtapose {
	display: none;
}
	div.juxtapose {
	max-width:700px !important;
	width:100% !important;
}
	.business-model {
		&.two-colums{
			.item-block {
				&:last-child {
					padding: 0px;
				}
			}
		}
	}
	.bgimg-wrapper {
		max-width: 600px;
		margin:0 auto;
	}
	.bgimg-container {
		&.three-colums {
			flex-direction:row;
			.bgimg-item {
				margin: 0 5px;
				max-width:250px;
				max-height:100%;
				height:130px;
			}
		}
	}
	.table {
		max-width: 600px;
	}
	.table-wrapper {
		overflow-x:scroll;
		border-radius:0px;
		.table-row {
			width: 1160px;
			max-width: inherit;
		}
		.table-header {
			border-radius:0px;
			width: 1160px;
			max-width:inherit;
		}
	}
}
@media screen and (max-width: 639px) { // 450px mxw
	.table-wrapper .table-row p{
		font-size: 12px;
	}
	.table-wrapper .table-row .column-first {
		font-size: 12px;
	}
}

@media screen and (max-width: 500px) { 

}
