$vertical-block_padding1: 25px;
$vertical-block_padding2: 50px;
$vertical-block_padding3: 75px;
$font-family-1: 'CRC55';
$font-family-2: 'Playfair-Bold-Italic';
$font-family-3: 'Circe-Bold';
$font-family-4: 'Circe-ExtraBold';
$font-family-5: 'CRC35';
$color-accent: #e31d1a ;
$color-accent-secondary: #9e9e9e;
$color-accent-threed: #626262;
$color-accent-bg: #f5f5f5;
$color-table: rgb(20, 142, 99);
@import '_succes_payment.scss';
@import '_about_courses.scss';
@import '_module1.scss';
@import '_module2.scss';
@import '_module3.scss';
@import '_module4.scss';
@font-face{font-family: 'Circe-ExtraBold'; src:url('../fonts/Circe-ExtraBold.woff') format('woff');font-weight: 900;font-style: normal};
@font-face{font-family:'crc55';src:url('../fonts/CRC55.woff') format('woff');font-weight:500;}
@font-face{font-family:'crc35';src:url('../fonts/CRC35.woff') format('woff');font-weight:500;font-style:medium};
@font-face {font-family: 'Circe-Bold';src:url('../fonts/Circe-Bold.woff') format('woff');}
@font-face{font-family: 'Playfair-Bold-Italic';src: url('../fonts/playfairdisplaybolditalic_allfontru.woff') format('woff');font-weight:300;}

* {
	margin:0;
	padding:0;
	font-family: 'CRC55';
	line-height: 1.55;
}
h1 {
	line-height:1;
	font-size: 42px;
	font-family: $font-family-4;
}

p {
	font-size: 18px;
}
li {
	list-style-type: none;
}
.navigation_wrapper {
	position: relative;
	margin: 25px auto 35px auto;
	height: 40px;
	max-width:1200px;
	display: flex;
}
a,button {
	cursor:pointer;
}
.nav-menu {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width:88%;
	.nav-menu_item {
		a {
			font-family: $font-family-4;
			text-transform: uppercase;
			font-size: 12px;
			text-decoration: none;
			color:#b0b0b0;
			font-weight: 700;
		}

		&:first-child {
			margin-right:auto;
			padding-right: 0px;
		}
		&:last-child {
			float:right;
			// padding-right: 15px;
		}
		&:nth-child(2) a {
			color:#e31d1a;
		}
		line-height: 1.55;
		padding:0 15px;
	}
}

.img-wrap {
	// padding-left: 15px;
	display:flex;
	img {
		width: 38px;
		height:38px;
		padding-left:10px;
	}
	a:first-child img {
		padding-left: 0;
	}
}

.main-bgimg {
	margin:0 auto;
	display: block;
	height:188px ;
	background: url("../img/header.jpg");
	background-position: center center;
	border-color: transparent;
	border-style: solid;
	background-size: 100%;
	background-repeat: no-repeat;
	border-style: solid;
	opacity: .55;
	background-color: #ffffff;
}
.logo-textimg {
	position: absolute;
	top:-190px;
	z-index:2;
	// padding-left: 10px;
	img {
		width:240px;
	}
}
.login-form {
	display:flex;
	height:40px;
	z-index:2;
	position: absolute;
	top:-200px;
	right:1%;
	a {
		display:flex;
	}
	.user_img{
		width: 41px;
		height: 41px;;
		border-radius: 50%;
		z-index:3;
		background-image: url("https://static.tildacdn.com/tild3463-6565-4239-a230-393064393737/05e5dfCqjOk.jpg");
		background-size: cover;
		background-position: center center;
	}
	.logout_img {
		margin-left: 10px;
		align-self: center;
		width: 20px;
		height: 20px;
		left:50px;
	}
}
#main-info-section {
	margin-bottom: 75px;
}
.main-info {
	margin:0 auto;
	padding: 0 15px;
	max-width: 1040px;
	display:flex;
	flex-direction: column;
	text-align: center;
	span {
		font-family: $font-family-2;
		font-size: 22px;
		color: #e31d1a;
		padding-bottom: 25px;
		line-height: 1.55;
	}
	h1 {
		text-transform: uppercase;
		font-family: $font-family-4;
		font-size: 42px;
		// line-height: 1.1;
		padding-bottom: 50px;
	}
	p {
		font-family: $font-family-1;
		line-height: 1.55;
		font-size: 18px;
		line-height: 1.55;
	}
}

// PRODUCT ITEMS 
#product-info-section {
	margin:0 auto;
	max-width: 1170px;
	// width:100%;
	padding: 0 10px;
}
.product-item {
	margin-bottom: 150px;
	display:flex;
	// flex-direction: column;
	.product-item-left {
		width:50%;
		margin-right: 20px;
		position: relative;
		border-radius:7px;
		.img {
			border-radius:7px;
			max-width:580px;
			height: 354px;
			max-height:100%;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}	
		.product02 {
		}
	}
	.product-item-right {
		position: relative;
		display:flex;
		justify-content: space-between;
		flex-direction:column;
		max-height:354px;
		width:50%;
		margin-left: 20px;
		span {
			font-family: $font-family-4;
			font-size: 18px	;
			color: $color-accent;
			line-height: 1.55;
		}
		h2 {
			font-size: 40px;
			font-family: $font-family-4;
			line-height: 1;
		}
		p {
			font-family: $font-family-1;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.55;
			// padding-left: 13px;
		}
		.sell-txt {
			p {
				font-family: $font-family-4;
				padding:0;
				font-size: 18px;
			}
		}
	}
}
.product-btns {
	display:flex;
	justify-content: flex-start;
	font-size: 14px;
	font-family: $font-family-4;
	p {
		display: none;
	}
	a {
		cursor: pointer;
		font-family: $font-family-4;
		border-radius: 7px;
		background-color: #e31d1a;
		color: #ffffff;
		width:45%;
		line-height: 50px;
		text-decoration: none;
		text-align: center
	}
	a:last-child {
		background-color: #c7c7c7;
		color:black;
		margin-left: 3.5%;
	}
}
.sell-txt {
	span {
		color:rgb(227, 29, 26);
	}
}
.navigation_wrapper {
	max-width: 1170px;
}
.course-txt {
	display:none;
}
footer {
	max-width:100vw;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding:50px 0px;
}
.column-wrapper {
	max-width: 1170px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	.about-project, .eat {
		a {
			border-bottom: 2px solid #e31d1a;
		}
	}
	.subscribe {
		a:last-child {
			border-bottom: 2px solid #e31d1a;
		}
		li {
			font-size: 14px;
		}
		strong {
			border-bottom: 2px solid #e31d1a;
		}
	}
	.column {
		display: block;
		.made-by {
			line-height: 1.9;
			font-size: 12px;
			font-family: $font-family-1;
			font-weight: 500;
			span:first-child {
				border-bottom: 2px solid #e31d1a;
			}
			span:last-child {
				border-bottom: 2px solid #e31d1a;
			}
			a {
				line-height: 0.2;
			}
		}
		ul {
			list-style-type: none;
		}
		strong {

			color: #525252;
			font-family: $font-family-3;
			letter-spacing: 1px;
			display: inline-block;
			margin-bottom: 10px;
			font-size: 16px;
		}
		a{
			display: inline-block;
			text-decoration: none;
			line-height: 1.2;
			font-family: $font-family-1;
			font-size: 14px;
			color:black;
			font-weight: 500;

		}
		.icons {
			display:flex;
			padding:15px 0;
			img	{
				max-width: 25px;
				padding-right: 5px	;
			}
		}
		img {
			max-width: 200px;
		}
		// display:flex;
		// flex-direction: column;
		max-width:25%;
	}
}


/* Media Quaries < 959,639,500 , main 1170px  */
@media screen and (max-width: 1170px) {
	.column-wrapper {
		max-width:980px;
		.column {
			strong {
				font-size: 14px !important;
			}
			a {
				font-size: 12px;
			}
		}
	}

	#main-info-section {
		margin-bottom: $vertical-block_padding2;
	}
	#product-info-section {
		box-sizing:border-box;
		padding:0px;
		max-width: 980px;
	}	
	.product-item {
		max-width: 980px;
		.product-item-left {
			.img {
				height:300px;
				max-width:472px;
			}
		}
		.product-item-right {
			h2 {
				font-size: 36px;
			}
			p {
				font-size: 15px;
			}
		}
	}
	.navigation_wrapper {
		max-width: 980px;
	}
	.main-info {
		max-width: 980px;
	}
	.sell-txt {
		position:absolute;
		right:0px;
		top:0px;
	}
}

@media screen and (max-width: 959px) {
	// Product-item
	.column-wrapper {
		max-width:620px;
		flex-wrap:wrap;
		.column {
			flex-basis: 250px;
			max-width: none;
			padding-bottom: 25px;
		}
	}

	.course-txt {
		display:block;
		position: absolute;
		z-index:3;
		bottom:70px;
		left:30px;
		span {
			color:rgb(227, 29, 26);
			font-size: 18px	;
			font-family: 	$font-family-4;
			line-height: 1.55;
			position: relative;
			bottom: 10px;
		}
		h2 {
			color:white;
			font-size: 32px	;
			font-family: 	$font-family-4;
			line-height: 1;
		}
	}
	.sell-txt {
		display:none;
		p {
			display: none;
		}
		span {
			color:rgb(227, 29, 26);
		}
	}
	.product-btns {
		justify-content: flex-start;
		p {
			display: inline-block;
			align-self: center;
			margin-right: auto;
			font-family: $font-family-4 !important;
			font-size: 20px !important;
		}
		span {
			color:rgb(227, 29, 26);
		}
		a {
			max-width: 190px;
			width:29%;
			&:last-child {
				max-width: 180px;
			}
		}
	}

	.product-item {
		display:flex;
		flex-direction: column;
		max-width: 620px;
		margin:25px auto;
		align-items: center;
		.product-item-left {
			width:100%;
			margin-right:0;
			background-color: black;
			.img{				
				opacity:0.3;
				margin:0 auto;
				max-width:620px;
				height:169px;
			}
		}
		.product-item-right {
			display:flex;
			justify-content: space-around;
			width:100%;
			max-width:590px;
			margin-left:0;
			margin-bottom: $vertical-block_padding1;
			>p {
				padding: 35px 0;
			}
			span {
				&:first-child {
					display: none;
				}
				&:only-child{
					display: inline-block;
				}
			}
			h2 {
				display:none;
			}
		}
	}

	// END Product-item 

	.main-info {
		max-width:590px;
		// width:100%;
		span {
			padding-bottom: 30px;
		}
		h1{
			padding-bottom: 30px;
		}
		p {
			font-size: 16px;
			font-family: $font-family-1;
			color:black;
			font-weight: 500;
		}
	}
	.navigation_wrapper {
		margin-top: 15px ;
		margin-bottom: 10px;
		max-width:640px;
	}
	.login-form {
		right:5%;
	}
	.img-wrap {
		display: block;
		flex-direction: column;
		width:35px;
		max-width: 640px;
		top:-130px;
		right:7%;
		position: absolute;
		z-index:2;
		img {
			position:relative;
			// left:86.75%;
			display:block !important;
			width: 35px;
			height:35px;
		}
		a img {
			padding-left: 0;
		}
		a {
			display: block;
		}
	}
	.nav-menu{
		width:100%;
		.nav-menu_item {
			padding:5px ;
			&:first-child {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.column-wrapper {
		max-width:450px;
	}
	.course-txt {
		bottom:50px;
		h2 {
			font-size: 30px;
		}
		span {
			font-size: 16px;
		}
	}
	.product-item .product-item-right > p {
		padding: 25px 0 10px 25px;
	}
	.product-btns {
		flex-direction:column;

		a {
			align-self: center;
			width: 90%;
			max-width:100%;
			margin:10px 0px;;
		}
		a:last-child {
			width: 90%;
			max-width:100%;
			margin: 0;
		}
		p {
			padding-left: 25px;
		}
	}
	.product-item-right {
		p {
			margin-bottom: 10px
		}
	}
	#product-info-section {
		max-width: 450px;
		padding:0;
	}
	.navigation_wrapper {
		display:block;
		margin-bottom: 15px;
	}
	.main-info {
		max-width:450px;
		// width:100%;
		span {
			padding-bottom: 30px;
		}
		h1{
			font-size: 32px;
			padding-bottom: 30px;
		}
		p {
			font-size: 15px;
		}
	}
	.login-form {
		top:-180px;
	}
	.logo-textimg {
		top:-185px;
		// padding-left: 15px;
		img {
			width:180px;}
		}
		.navigation_wrapper {
			max-width: 500px;
		}
		.nav-menu {
			height:40px;
			margin-top: -20px;
			.nav-menu_item {
				a{
					font-size: 9px;
				}
			}
		}
		.img-wrap {
			display:flex;
			flex-direction: column;
			max-width: 490px !important;
			top:-130px;
			right:7%;
			img {
				width: 30px;
				height:30px;
				display: inline-block;
			}
		}
	}
	@media screen and (max-width: 500px) {
		#product-info-section {
			max-width: 300px;
		}
		.column {
			align-items: center;
			.icons {
				padding: 5px 0;
			}
		}
		.column-wrapper {
			max-width: 95%;
			justify-content: flex-start;
		}
		.product-item {
			.product-item-left{
				width: 322px;
				.img{
					height:270px;
				}
			}
			.product-item-right{
				min-width: 322px	;
				p {
					padding-left: 12px	;
				}
			}
		}
		.course-txt {
			left:10px;
			bottom:65px;
		}
		.main-info {
			max-width:300px;
			span {
				padding-bottom: 30px;
				font-size: 18px;
			}
			h1{
				font-size: 24px;
				padding-bottom: 30px;
			}
			p {
				font-size: 15px;
			}
		}
		.logo-textimg {
			top: -180px;
			left: 14px;
			img {
				width:180px;}
			}
			.nav-menu {
				height:40px;
				margin-top: -20px;
			}
			.nav-menu {
				.nav-menu_item {
					padding:5px 0px;
					a{
						font-size: 8px;
					}
				}
			}
		}